@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --p-primary-50: #eef2ff;
  --p-primary-100: #e0e7ff;
  --p-primary-200: #c7d2fe;
  --p-primary-300: #a5b4fc;
  --p-primary-400: #818cf8;
  --p-primary-500: #6366f1;
  --p-primary-600: #4f46e5;
  --p-primary-700: #4338ca;
  --p-primary-800: #3730a3;
  --p-primary-900: #312e81;
  --p-primary-950: #1e1b4b;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: var(--p-surface-0);
  color: var(--p-text-color);
}
